<!-- templates/registration/login.html -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
<!DOCTYPE html>

<html lang="en" >
<head>
<title>Log in | einsatz-info</title>
</head>


<body>

<!-- Container -->
<div class="container-fluid">

    <h2>Login Einsatz-Info</h2>
<form class="form-control" method="post">
  {% csrf_token %}

  <div class="col-md-3"></div>
    <div class="col-md-6">
  {{ form.as_p }}
    </div>
   <div class="col-md-3"></div>
    <div class="col-md-6">
  <button type="submit">Login</button>
    </div>
</form>
</div>

</body>




