{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/docs/examples/dashboard/dashboard.css' %}" />

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'bootstrap/favicon.png' %}" />
    <title>Ansprechpartner anlegen</title>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="{% static 'bootstrap/favicon.png' %}" width="30" height="30"></a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/ansprechpartner">Ansprechpartner</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/personal">Personal</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/rettungsmittel">Rettungsmittel</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>

          {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row">

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-1 pt-3">
          <br>
          <h1>Ansprechpartner anlegen</h1>
            <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
                <a href="/einsatz"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"></a>
              <h4>Einsatz anlegen</h4>
            </div>
            <div class="col-6 col-sm-3 placeholder">
                <a href="/dienst"><img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"></a>
              <h4>Dienst anlegen</h4>
            </div>
            <div class="col-6 col-sm-3 placeholder">
                <a href="/vorfall"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"></a>
              <h4>Vorfall berichten</h4>
            </div>
            <div class="col-6 col-sm-3 placeholder">
                <a href="/patient"><img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"></a>
              <h4>Patient anlegen</h4>
            </div>
          </section>

        </main>
      </div>
    </div>

     <div class="container">
      <h2>Eingabefelder</h2>
         <div class="row">
          <div class="col-lg-6 portfolio-item">
            <a href="/ansprechpartner/add" class="btn btn-success" role="button">add</a>
          </div>
          <h2>Ansprechpartner</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Einsatz_ID</th>
                  <th>Datum</th>
                  <th>Telefonnummer</th>
                  <th>Geschlecht</th>
                  <th>Vorname</th>
                  <th>Name</th>
                  <th>Infotext</th>
                  <th>Update</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>

{% if liste %}
    {% for x in liste %}
        <tr>
            <td>{{ x.Einsatz_ID }}</td>
            <td>{{ x.Datum}}</td>
            <td>{{ x.Telefonnummer }}</td>
            <td>{{ x.Geschlecht }}</td>
            <td>{{ x.Vorname }}</td>
            <td>{{ x.Name }}</td>
            <td>{{ x.Infotext }}</td>
            <td><a href="/ansprechpartner/upd/{{ x.id }}" class="btn btn-warning" role="button">ändern</a></td>
            <td><a href="/ansprechpartner/del/{{ x.id }}" class="btn btn-danger" role="button">löschen</a></td>
        </tr>
    {% endfor %}

{% else %}
        <tr>
            <td>hat nicht geklappt</td>
            <td>hat nicht geklappt</td>
            <td>hat nicht geklappt</td>
            <td>hat nicht geklappt</td>
            <td>hat nicht geklappt</td>
            <td>hat nicht geklappt</td>
            <td>hat nicht geklappt</td>
        </tr>
{% endif %}
              </tbody>
            </table>
          </div>

          </main>
      </div>
    </div>
    <!-- ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static 'bootstrap/docs/assets/js/vendor/jquery.slim.min.js' %}"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>