{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/docs/examples/dashboard/dashboard.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'bootstrap/favicon.png' %}" />
    <title>Dienst anlegen</title>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="{% static 'bootstrap/favicon.png' %}" width="30" height="30"></a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/ansprechpartner">Ansprechpartner</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/personal">Personal</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/rettungsmittel">Rettungsmittel</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>

          {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row">

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-1 pt-3">
          <br>
          <h1>Dienst anlegen</h1>
            <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
                <a href="/einsatz"><div id="kreis" style="background-color: #0275D8"><H2>Einsatz</H2></div></a>
            </div>

            <div class="col-6 col-sm-3 placeholder">
                <a href="/dienst"><div id="kreis" style="background-color: #00DC83"><H2>Dienst</H2></div></a>
            </div>

            <div class="col-6 col-sm-3 placeholder">
                <a href="/vorfall"><div id="kreis" style="background-color: #D9534F"><H2>Vorfall</H2></div></a>
            </div>

            <div class="col-6 col-sm-3 placeholder">
                <a href="/patient"><div id="kreis" style="background-color: #00DC83"><H2>Patient</H2></div></a>
            </div>
          </section>

        </main>
      </div>
    </div>

     <div class="container col-sm-9 offset-sm-3 col-md-10 offset-md-1 pt-3">
      <h2>Dienst</h2>
         <div class="row">

          <div class="col-lg-2 portfolio-item pb-2">
            {% if  perms.index.add_dienst %}
            <a href="/dienst/add" class="btn btn-success btn-block" role="button">Hinzufügen</a>
            {% else %}
            <button class="btn btn-secondary">Hinzufügen</button>
            {% endif %}
          </div>


          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Einsatz</th>
                  <th>Funkrufname</th>
                  <th>Beginnzeit</th>
                  <th>Endzeit</th>
                  <th>Ändern</th>
                  <th>Löschen</th>
                </tr>
              </thead>
              <tbody>


  {% if liste %}
    {% for x in liste %}
        <tr>
            <td>{{ x.Personal_ID }}</td>
            <td>{{ x.Einsatz_ID }}</td>
            <td>{{ x.Funkrufname }}</td>
            <td>{{ x.Einsatzbeginnzeit }}</td>
            <td>{{ x.Einsatzendezeit }}</td>
            {% if  perms.index.change_dienst %}
            <td><a href="/dienst/upd/{{ x.id }}" class="btn btn-warning" role="button">Ändern</a></td>
            {% else %}
            <td><button class="btn btn-secondary">Ändern</button> </td>
            {% endif %}
            {% if perms.index.delete_dienst %}
            <td><a href="/dienst/del/{{ x.id }}" class="btn btn-danger" role="button">Löschen</a></td>
            {% else %}
            <td><button class="btn btn-secondary">Löschen</button></td>
            {% endif %}
        </tr>
    {% endfor %}

{% else %}
        <tr>
            <td>Hat leider nicht funktioniert</td>
            <td>Hat leider nicht funktioniert</td>
            <td>Hat leider nicht funktioniert</td>
            <td>Hat leider nicht funktioniert</td>
            <td>Hat leider nicht funktioniert</td>
            <td>Hat leider nicht funktioniert</td>
            <td>Hat leider nicht funktioniert</td>
        </tr>
{% endif %}
              </tbody>
            </table>
          </div>

          </main>
      </div>
    </div>
    <!-- ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static 'bootstrap/docs/assets/js/vendor/jquery.slim.min.js' %}"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>