{% extends "index/layout.html" %}
{% load static %}
{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />


<h2>Einsatz löschen</h2>
{% if perms.index.delete_einsatz %}
<form action="" method="post">{% csrf_token %}
    <p>Sind Sie sicher, dass sie diesen Einsatz "{{ object }}" löschen wollen?</p>
    <input type="submit" class="btn btn-success" role="button" value="Ja" />
    <a href="/einsatz/" class="btn btn-danger" role="button">abbrechen</a>
</form>
{% else %}
 <h2>Sie verfügen nicht über ausreichende Berechtigungen</h2>
{% endif %}
{% endblock %}