{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/docs/examples/dashboard/dashboard.css' %}" />

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'bootstrap/favicon.png' %}" />
    <title>Dashboard Einsatz-Info</title>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="{% static 'bootstrap/favicon.png' %}" width="30" height="30"></a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/ansprechpartner">Ansprechpartner</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/personal">Personal</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/rettungsmittel">Rettungsmittel</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>

          {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row">
        
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-1 pt-3">
          <br>
          <h1>Dashboard</h1>
            <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
                <a href="/einsatz"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"></a>
              <h4>Einsatz anlegen</h4>
            </div>
            <div class="col-6 col-sm-3 placeholder">
                <a href="/dienst"><img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"></a>
              <h4>Dienst anlegen</h4>
            </div>
            <div class="col-6 col-sm-3 placeholder">
                <a href="/vorfall"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"></a>
              <h4>Vorfall berichten</h4>
            </div>
            <div class="col-6 col-sm-3 placeholder">
                <a href="/patient"><img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"></a>
              <h4>Patient anlegen</h4>
            </div>
          </section>


{% if listoflists %}
    <br>
    <h2>Patient</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Vorname</th>
                  <th>Name</th>
                  <th>Alter</th>
                  <th>Geschlecht</th>
                </tr>
              </thead>
              <tbody>


                {% for x in listoflists.0 %}
                    <tr>
                        <td>{{ x.Vorname }}</td>
                        <td>{{ x.Name }}</td>
                        <td>{{ x.Alter }}</td>
                        <td>{{ x.Geschlecht }}</td>
                    </tr>
                {% endfor %}


              </tbody>
            </table>
          </div>
         <br>
         
    <br>
    <h2>Vorfall</h2>
        <div class="table-responsive">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Vorfall</th>
                  <th>Einsatz</th>
                  <th>Einsatzort</th>
                  <th>Einsatzbeginn</th>
                  <th>Einsatzende</th>
                  <th>Triagekategorie</th>
            </tr>
        </thead>
        <tbody>
            {% for x in listoflists.2 %}
            <tr>
            <td><a href="/vorfall/det/{{ x.id }}" class="btn btn-primary" role="button">{{ x.id }}</a></td>
            <td>{{ x.Einsatz }}</td>
            <td>{{ x.Einsatzort }}</td>
            <td>{{ x.Einsatzbeginn }}</td>
            <td>{{ x.Einsatzende }}</td>
            <td>{{ x.Triagekategorie }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
    <br>
    <h2>Einsatz</h2>
        <div class="table-responsive">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Einsatz</th>
                <th>Einsatzleiter</th>
                <th>Einsatzdatum</th>
                <th>Einsatzinfo</th>
            </tr>
        </thead>
        <tbody>
            {% for x in listoflists.3 %}
            <tr>
                <td>{{ x.id }}</td>
                <td>{{ x.Personal_ID}}</td>
                <td>{{ x.Einsatzdatum }}</td>
                <td>{{ x.Einsatzinfo }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>

<br>
       <h2>Dienst</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Einsatz</th>
                  <th>Funkrufname</th>
                  <th>Beginnzeit</th>
                  <th>Endzeit</th>
                </tr>
              </thead>
              <tbody>



    {% for x in listoflists.4 %}
        <tr>
            <td>{{ x.Personal_ID }}</td>
            <td>{{ x.Einsatz_ID }}</td>
            <td>{{ x.Funkrufname }}</td>
            <td>{{ x.Einsatzbeginnzeit }}</td>
            <td>{{ x.Einsatzendezeit }}</td>
        </tr>
    {% endfor %}
{% endif %}

              </tbody>
            </table>
          </div>
        </main>
    <!-- ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static 'bootstrap/docs/assets/js/vendor/jquery.slim.min.js' %}"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
