{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/docs/examples/dashboard/dashboard.css' %}" />
<link rel="icon" href="{% static 'bootstrap/favicon.png' %}" />
<link href="{% static 'styles.css' %}" rel="stylesheet"/>
<link href="{% static 'red-indigo.css' %}" rel="stylesheet"/>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>einsatz-info</title>

</head>
<body>
    
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="{% static 'bootstrap/favicon.png' %}" width="30" height="30"></a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/ansprechpartner">Ansprechpartner</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/personal">Personal</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/rettungsmittel">Rettungsmittel</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>

          {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
<div class="container-fluid">
    
 <div class="mdl-layout mdl-layout__header--scroll mdl-js-layout mdl-color--grey-100">
    <div class="own-ribbon"></div>
    <main class="own-main mdl-layout__content">
        <div class="own-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="own-content-error own-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800
            mdl-cell mdl-cell--8-col">
                {% block main %}{% endblock %}
            </div>
        </div>
        <!--Brauchen wir nen Footer? ich glaub nicht <footer class="mdl-mini-footer mdl-color-text--white">
            <div class="mdl-mini-footer--left-section">
                <ul class="mdl-mini-footer--link-list">
                </ul>
            </div>
        </footer> -->
    </main>
  </div>
</div>
 </body>
</html>